doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Магистерские программы
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
	body
		section(class="hero is-info is-fullheight")
			.hero-head
				.container
					div(class="column is-8-desktop is-offset-2-desktop has-text-centered")
						h1(class="title is-4 is-2-desktop is-spaced") Магистерские программы
						div(class="subtitle is-6") Базовой кафедры МАИ (национальный исследовательский университет)
						div(class="title is-6") «Информационные технологии в моделировании и управлении», 810 Б
						div(class="subtitle is-6") Федерального исследовательского центра «Информатика и управление» РАН
			.hero-body
				.container
					.columns
						.column
							a(href="#bigdata")
								.card
									.card-image
										figure(class="image is-4by1")
											img(src="images/purple640x160.png" alt="Placeholder image")
									.card-header
										.card-title
											.card-header-title Машинное обучение и управление большими данными
									.card-footer
										.card-footer-item
											i Магистерская программа
						.column
							a(href="#methods")
								.card
									.card-image
										figure(class="image is-4by1")
											img(src="images/green640x160.png" alt="Placeholder image")
									.card-header
										.card-title
											.card-header-title Методы, средства и технологии разработки программно-информационных систем
									.card-footer
										.card-footer-item
											i Магистерская программа
			.hero-foot
				.container
					div(class="column is-8-desktop is-offset-2-desktop has-text-centered")


		section(class="hero section-padding-medium" id="bigdata")
			.hero-body
				.container
					.columns
						div(class="column is-8-desktop is-offset-2-desktop")
							h1(class="title is-spaced") Машинное обучение и управление большими данными
							h2(class="subtitle is-6") 
								i Магистерская программа
					
			.container
					.columns
					
						div(class="column is-offset-1 is-one-third")
								.media
									.media-left
										span(class="icon")
											i(class="fas fa-box")
									.media-content
										div(class="title is-5") Чему обучают по данной программе?
								.content
									ul
										li Проектирование и разработка распределённых систем и баз данных
										li Программирование на платформе Java
										li Анализ данных с помощью средств Apache Hadoop и Apache Spark
										li Умению применять алгоритмы машинного обучения для создания моделей и реализации моделей на больших объёмах данных

						div(class="column is-offset-2 is-one-third")
								.media
									.media-left
										span(class="icon")
											i(class="fas fa-box")
									.media-content
										div(class="title is-5") В чем заключается особенность данной программы?
								.content
									ul
										li Профессиональная экспертиза учебных программ от лидеров IT-отрасли
										li Наставничество от практикующих специалистов компаний-партнеров на протяжении всего образовательного трека
										li Митапы от партнеров каждые 2 недели
										li Оптимальное соотношение практической и исследовательской составляющей
										li Практически значимые тематики исследовательских работ от представителей бизнеса
										li Удобная система оплаты обучения с образовательным кредитом от Почта-банка
										li Государственный диплом престижного вуза и приложение к диплому на английском языке в соответствии с Болонской системой образования
										li Обучение на базе кафедры "Технология испытаний и эксплуатации", в современно оснащенных аудиториях IT-центра и на площадках партнеров программы
										li Методическая поддержка в подготовке публикаций и участии в конференциях
										li Развитая инфраструктура досуга - спортивные секции, база отдыха
										li Отсрочка от армии
										li Комфортное общежитие в шаговой доступности от учебных корпусов
					
					.columns
						div(class="column is-offset-1 is-one-third")
								.media
									.media-left
										span(class="icon")
											i(class="fas fa-box")
									.media-content
										div(class="title is-5") Какие дисциплины входят в план обучения?
								.content
									ul
										li Реляционные базы данных и хранилища данных
										li Основы Java и Scala для анализа данных
										li Язык Python для анализа данных
										li Технологии CUDA. Решение прикладных задач с применением технологии CUDA
										li Теория обучения машин
										li Технологии ИИ в задачах интеграции знаний и предсказательного моделирования сложных инженерных биологических процессов
										li Численные методы обучения по прецедентам
										li Хранение и обработка больших данных
										li Криптография и защита информации
										li Машинное обучение на больших данных
										li Поиск, обработка и распознавание аудио, видео и графической информации
										li Распределённые приложения и базы данных
										li Спецкурс HeadHunter
										li Спецкурс LUXOFT

						div(class="column is-offset-2 is-one-third")
								.media
									.media-left
										span(class="icon")
											i(class="fas fa-box")
									.media-content
										div(class="title is-5") Каким профессиональным навыкам и знаниям обучают по данной программе?
								.content
									p Умение применять алгоритмы машинного обучения для создания моделей и реализации моделей на больших объемах данных
									p Кем работают выпускники:
										ul
											li Разработчик Big Data (Java, Python)
											li Разработчик баз данных/хранилищ данных (Data Warehouse)
											li Hadoop-инженер
											li Аналитик данных / Data Scientist
											li Специалист по машинному обучению
						
					.columns
						div(class="column is-offset-1 is-one-third")
								.media
									.media-left
										span(class="icon")
											i(class="fas fa-box")
									.media-content
										div(class="title is-5") Материально-техническая база. На чем учат магистрантов?
								.content
									p Магистранты обучаются на базе кафедры №810Б «Информационные технологии в моделировании и управлении», помещениий РАН (ФИЦ ИУ РАН) и IT-центра МАИ.

						div(class="column is-offset-2 is-one-third")
								.media
									.media-left
										span(class="icon")
											i(class="fas fa-box")
									.media-content
										div(class="title is-5") Где работают выпускники?
								.content
									ul
										li IT-компании, которые разрабатывают продукты для заказчиков
										li Компании, чей бизнес связан с применением IT-систем: крупные банки и страховые компании
										li IT-отделы операторов связи
										li Крупные интернет-магазины и онлайн-сервисы
										li Крупные компании IT-индустрии (Яндекс, Google, Mail.ru Group и т.п.)

		section(class="hero" id="methods")
			.hero-body
				.container
					.columns
						div(class="column is-8-desktop is-offset-2-desktop")
							h1(class="title is-4 is-spaced is-centered") Методы, средства и технологии разработки программно-информационных систем
							h2(class="subtitle is-6") Магистерская программа
