include _pug/home-page.pug
include _pug/program-bigdata.pug
include _pug/program-methods.pug
include _pug/teachers.pug

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Магистерские программы
		link(rel="icon" type="image/png" href="images/favicon.png")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
	body
		+home-page()
		+program-bigdata()
		+program-methods()
		+teachers()

