doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Магистерские программы
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
	body
		section(class="hero is-info is-fullheight")
			.hero-head
				.container
					div(class="column is-8-desktop is-offset-2-desktop has-text-centered")
						h1(class="title is-4 is-2-desktop is-spaced") Магистерские программы
						div(class="subtitle is-6") Базовой кафедры МАИ (национальный исследовательский университет)
						div(class="title is-6") «Информационные технологии в моделировании и управлении», 810 Б
						div(class="subtitle is-6") Федерального исследовательского центра «Информатика и управление» РАН
			.hero-body
				.container
					.columns
						.column
							a(href="#bigdata")
								.card
									.card-image
										figure(class="image is-4by1")
											img(src="images/purple640x160.png" alt="Placeholder image")
									.card-header
										.card-title
											.card-header-title Машинное обучение и управление большими данными
									.card-footer
										.card-footer-item
											i Магистерская программа
						.column
							a(href="#methods")
								.card
									.card-image
										figure(class="image is-4by1")
											img(src="images/green640x160.png" alt="Placeholder image")
									.card-header
										.card-title
											.card-header-title Методы, средства и технологии разработки программно-информационных систем
									.card-footer
										.card-footer-item
											i Магистерская программа
			.hero-foot
				.container
					div(class="column is-8-desktop is-offset-2-desktop has-text-centered")


		section(class="hero" id="bigdata")
			.hero-body
				.container
					.columns
						div(class="column is-8-desktop is-offset-2-desktop")
							h1(class="title is-4 is-spaced") Машинное обучение и управление большими данными
							h2(class="subtitle is-6") Магистерская программа
							
							.media
								.media-left
									span(class="icon")
										i(class="fas fa-box")
								.media-content
									div(class="title is-5") Чему обучают по данной программе?
							ul
								li Проектирование и разработка распределённых систем и баз данных
								li Программирование на платформе Java
								li Анализ данных с помощью средств Apache Hadoop и Apache Spark
								li Умению применять алгоритмы машинного обучения для создания моделей и реализации моделей на больших объёмах данных

		section(class="hero" id="methods")
			.hero-body
				.container
					.columns
						div(class="column is-8-desktop is-offset-2-desktop")
							h1(class="title is-4 is-spaced is-centered") Методы, средства и технологии разработки программно-информационных систем
							h2(class="subtitle is-6") Магистерская программа
