@charset "utf-8";

@import "../node_modules/bulma/bulma";

html { background-color: $white-ter; }

section#home-page {
	background-image: url("../images/tile.png");
	background-repeat: round;
}

section#bigdata { background-color: hsl(22, 100%, 63%); }

section#methods { background-color: hsl(141, 71%, 60%); }

section#teachers { background-color: hsl(22, 100%, 70%); }
