mixin btn-020302(color, hrcolor)
	div(class="column has-text-centered")
		div
			p Вступительные испытания
			p 
				b Междисциплинарный экзамен в соответствии с программой бакалавриата по направлению 02.03.02
			hr(class=hrcolor)
			p
				a(class="button is-outlined is-small " + color href="https://mai.ru/upload/iblock/829/Pril.3_02.04.02-Fundamentalnaya-informatika-i-informatsionnye-tekhnologii.pdf")
					span(class="icon")
						i(class="fas fa-file-pdf")
					span Скачать программу
