include index-card.pug

mixin home-header()
	nav(class="level")
		div(class="level-item has-text-centered")
			a(href="https://mai.ru")
				img(src="images/mai.png")
		div(class="level-item")
			div
				p(class="title has-text-centered") Магистерские программы
				hr
				p(class="heading") Информационные технологии и прикладная математика, 810Б
		div(class="level-item has-text-centered")
			a(href="https://mai.ru/education/fpmf/810/")
				img(src="images/f8.png")

mixin home-page()
	section(class="hero is-info is-large is-bold" id="home-page")
		.hero-head
			.container
				+home-header()

		.hero-body
			.container
				.columns
					+index-card("#bigdata", "images/bigdata.jpg", "Машинное обучение и управление большими данными")
					+index-card("#methods", "images/methods.jpg", "Методы, средства и технологии разработки программно-информационных систем")
		.hero-foot
			.container
				div(class="column is-8-desktop is-offset-2-desktop has-text-centered")
					p
						i Базовая кафедра Московского авиационного института (национальный исследовательский университет)
					p
						i Федерального исследовательского центра «Информатика и управление» РАН
