mixin info-col(top,bottom)
	div(class="level-item has-text-centered")
		div
			p(class="heading") #{top}
			p(class="title") #{bottom}


mixin info-col-small(top,bottom)
	div(class="column has-text-centered")
		div
			p #{top}
			p 
				b #{bottom}
