include program-methods-info.pug

mixin program-methods()
	section(class="hero" id="methods")
		.hero-body
			.container
				.columns
					div(class="column is-8-desktop is-offset-2-desktop")
						h1(class="title is-spaced") Методы, средства и технологии разработки программно-информационных систем
						p(class="heading") 02.04.02 Фундаментальная информатика и информационные технологии
						h2(class="subtitle") Магистерская программа

	section(class="hero is-warning")
		.hero-body
			.container
				+info-panel1()
				+info-panel2()
	
	section(class="hero")
		.hero-body
			.container
				div(class="tile is-ancestor")
					div(class="tile is-4 is-vertical is-parent")
						+info1()
						+info2()

					div(class="tile is-4 is-vertical is-parent")
						+info3()
						+info4()

					div(class="tile is-4 is-vertical is-parent")
						+info5()
						+info6()
