include info-box.pug
include info-col.pug
include btn-020302.pug

mixin info1()
	+info-box("fas fa-box", "Чему обучают по данной программе?", "",
		"Проектирование и разработка распределённых систем и баз данных",
		"Программирование на платформе Java",
		"Анализ данных с помощью средств Apache Hadoop и Apache Spark",
		"Умению применять алгоритмы машинного обучения для создания моделей и реализации моделей на больших объёмах данных")

mixin info2()
	+info-box("fas fa-box-open", "В чем заключается особенность данной программы?", "",
		"Профессиональная экспертиза учебных программ от лидеров IT-отрасли",
		"Наставничество от практикующих специалистов компаний-партнеров на протяжении всего образовательного трека",
		"Митапы от партнеров каждые 2 недели",
		"Оптимальное соотношение практической и исследовательской составляющей",
		"Практически значимые тематики исследовательских работ от представителей бизнеса",
		"Удобная система оплаты обучения с образовательным кредитом от Почта-банка",
		"Государственный диплом престижного вуза и приложение к диплому на английском языке в соответствии с Болонской системой образования",
		"Обучение на базе кафедры \"Технология испытаний и эксплуатации\", в современно оснащенных аудиториях IT-центра и на площадках партнеров программы",
		"Методическая поддержка в подготовке публикаций и участии в конференциях",
		"Развитая инфраструктура досуга - спортивные секции, база отдыха",
		"Отсрочка от армии",
		"Комфортное общежитие в шаговой доступности от учебных корпусов")

mixin info3()
	+info-box("fas fa-clipboard-list", "Какие дисциплины входят в план обучения?", "",
		"Реляционные базы данных и хранилища данных",
		"Основы Java и Scala для анализа данных",
		"Язык Python для анализа данных",
		"Технологии CUDA. Решение прикладных задач с применением технологии CUDA",
		"Теория обучения машин",
		"Технологии ИИ в задачах интеграции знаний и предсказательного моделирования сложных инженерных биологических процессов",
		"Численные методы обучения по прецедентам",
		"Хранение и обработка больших данных",
		"Криптография и защита информации",
		"Машинное обучение на больших данных",
		"Поиск, обработка и распознавание аудио, видео и графической информации",
		"Распределённые приложения и базы данных",
		"Спецкурс HeadHunter",
		"Спецкурс LUXOFT")

mixin info4()
	+info-box("fas fa-cogs", "Каким профессиональным навыкам и знаниям обучают по данной программе?",
		"Умение применять алгоритмы машинного обучения для создания моделей и реализации моделей на больших объемах данных. Кем работают выпускники:",
		"Разработчик Big Data (Java, Python)",
		"Разработчик баз данных/хранилищ данных (Data Warehouse)",
		"Hadoop-инженер",
		"Аналитик данных / Data Scientist",
		"Специалист по машинному обучению")

mixin info5()
	+info-box("fas fa-desktop", "Материально-техническая база. На чем учат магистрантов?",
		"Магистранты обучаются на базе кафедры №810Б «Информационные технологии в моделировании и управлении», помещениий РАН (ФИЦ ИУ РАН) и IT-центра МАИ")
								
mixin info6()
	+info-box("fas fa-briefcase", "Где работают выпускники?", "",
		"IT-компании, которые разрабатывают продукты для заказчиков",
		"Компании, чей бизнес связан с применением IT-систем: крупные банки и страховые компании",
		"IT-отделы операторов связи",
		"Крупные интернет-магазины и онлайн-сервисы",
		"Крупные компании IT-индустрии (Яндекс, Google, Mail.ru Group и т.п.)")

mixin info-panel1-data()
	+info-col("Форма обучения", "Очная")
	+info-col("Срок обучения", "2 года")
	+info-col("Бюджетных/платных мест", "10/6")
	+info-col("Стоимость обучения", "196528 P")

mixin info-panel1()
	nav(class="level")
		+info-panel1-data()

mixin info-panel2-data()
	+info-col-small("Факультет", "«Информационные технологии и прикладная математика»")
	+info-col-small("Руководитель программы", "Абгарян Каринэ Карленовна")
	+btn-020302("is-black", "has-background-black")

mixin info-panel2()
	.container
		.columns
			+info-panel2-data()
