mixin trow(a,b,c,d)
	tr
		td= a
		td= b
		td= c
		td= d

mixin teachers-data()
	+trow("Информационные технологии оптимизации и управления",
		"Евтушенко Ю.Г.(ФИЦ ИУ РАН, МАИ)",
		"МФТИ",
		"д.ф.-м.н, профессор, академик РАН")
	+trow("Многомасштабное моделирование гетерогенных систем",
		"Абгарян К.К.(ФИЦ ИУ РАН, МАИ)",
		"МГУ",
		"к.ф.-м.н., доцент")
	+trow("Современные проблемы прикладной математики и информатики",
		"Ревизников Д.Л.(ФИЦ ИУ РАН, МАИ)",
		"МАИ",
		"д.ф.-м.н, профессор")
	+trow("Параллельная обработка данных твердотельных расчетов",
		"Бажанов Д.И.(ФИЦ ИУ РАН, МГУ)",
		"МГУ",
		"к.ф.-м.н., доцент")
	+trow("Параллельная обработка данных твердотельных расчетов",
		"Журавлев А.А.(ФИЦ ИУ РАН, МГУ)",
		"МАИ",
		"ст. преп.")
	+trow("Программирование в сетевых кластерных архитектурах",
		"Гаврилов Е.С.(ФИЦ ИУ РАН, МАИ)",
		"МАИ",
		"ст. преп.")
	+trow("Программирование в сетевых кластерных архитектурах",
		"Журавлев А.А.(ФИЦ ИУ РАН, МАИ)",
		"МАИ",
		"ст. преп.")
	+trow("Программирование в сетевых кластерных архитектурах",
		"Гаврилов Е.С.(ФИЦ ИУ РАН, МАИ)",
		"МАИ",
		"ст. преп.")
	+trow("Распределенные базы данных",
		"Гаврилов Е.С.(ФИЦ ИУ РАН, МАИ)",
		"МАИ",
		"ст. преп.")
	+trow("Распределенные базы данных",
		"Сеченых П.А.(ФИЦ ИУ РАН, МАИ)",
		"МАИ",
		"ст. преп.")
	+trow("Корпоративные информационные системы",
		"Гаврилов Е.С.(ФИЦ ИУ РАН, МАИ)",
		"МАИ",
		"ст. преп.")
	+trow("Мультимедийные технологии в наукоемких приложениях",
		"Аносова Н.Н.(МАИ)",
		"МАИ",
		"ст. преп.")
	+trow("Дизайн интерфейсов",
		"Мочалин А.А.(ФИЦ ИУ РАН)",
		"МАИ",
		"ст.преп.")

mixin teachers-table()
	table(class="table is-hoverable is-striped")
		thead
		tr
			th Наименование дисциплин
			th Ведущие преподаватели
			th Учебное учреждение окончил
			th Ученые степень и звание
		tbody
			+teachers-data()

mixin teachers()
	section(class="hero" id="teachers")
		.hero-body
			.container
				.columns
					.column
						h1(class="title is-spaced") Преподаватели
			.container
				.columns
					.column
						+teachers-table()
